apiVersion: apps/v1
kind: Deployment
metadata:
  name: pythonapp
  labels:
    app: pythonapp
  namespace: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pythonapp
  template:
    metadata:
      labels:
        app: pythonapp
    spec:
      containers:
      - name: pythonapp
        image: nwajienelson/pythonapp:latest:5:3
        ports:
        - containerPort: 8500
        resources:
          requests:
            memory: "100Mi"
            cpu: "80m"
          limits:
            memory: "110Mi"
            cpu: "90m"
   
---


apiVersion: v1
kind: Service
metadata:
  name: pythonsvc
  namespace: frontend
spec:
  selector:
    app: pythonapp
  ports:
  - name: http
    port: 8500
    targetPort: 8500

---


apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: pythonapp-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: pythonapp
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50





